Repository bright-coders-2/bc-landing-page-2021: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, rubocop -a -c .rubocop-linter.yml --fail-level E, stylelint --fix

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.rb": ["rubocop -a -c .rubocop-linter.yml --fail-level E", "git add"],
  "*.scss": ["stylelint --fix", "git add"]
}

Boostrap integration
  app/controllers/home_controller.rb
  app/helpers/home_helper.rb
  app/javascript/packs/application.js
  app/javascript/stylesheets/application.scss
  app/views/home/index.html.erb
  app/views/layouts/application.html.erb
  package.json
  test/controllers/home_controller_test.rb
Due: eslint --fix, rubocop -a -c .rubocop-linter.yml --fail-level E, stylelint --fix

Add responsive menu design Add mobile, tablet and desktop version Add neccesary images to work
  app/assets/images/Group 609.svg
  app/assets/images/Group 610.jpg
  app/assets/images/Group 618.jpg
  app/assets/images/LogoBC.svg
  app/assets/images/LogoBC.svg.jpg
  app/assets/images/close.svg
  app/assets/images/list.svg
  app/assets/stylesheets/home/navbar.scss
  app/views/layouts/_navbar.html.erb
  app/views/layouts/application.html.erb
Due: stylelint --fix

Added new logos and added style
  app/assets/images/BCnameLogo.png
  app/assets/images/BCsingleLogo.png
  app/assets/images/LogoBC.svg
  app/assets/images/LogoBC.svg.jpg
  app/assets/images/close.svg
  app/assets/images/list.svg
  app/assets/stylesheets/home/navbar.scss
  app/views/layouts/_navbar.html.erb
Due: stylelint --fix

Mobile finished
  app/assets/images/Group 608.png
  app/assets/images/Image 2.webp
  app/assets/stylesheets/home.scss
  app/assets/stylesheets/variables.scss
  app/views/home/index.html.erb
  db/schema.rb
Due: rubocop -a -c .rubocop-linter.yml --fail-level E, stylelint --fix

Update mobile version Change Logo automatically when user open or close the navbar Add styles for every logo when is open or closed
  app/assets/stylesheets/home/navbar.scss
  app/views/layouts/_navbar.html.erb
Due: stylelint --fix

Finished Tablet design.
  app/assets/stylesheets/home.scss
  app/views/home/index.html.erb
Due: stylelint --fix

Create file for JS scripts and change img html tag for image_tag helper
  app/javascript/packs/navbar.js
  app/views/layouts/_navbar.html.erb
Due: eslint --fix

Fix production troubles
  config/environments/production.rb
Due: rubocop -a -c .rubocop-linter.yml --fail-level E

Finished Desktop design
  app/assets/stylesheets/home.scss
Due: stylelint --fix

Fixed Navbar Change font type Fix effect when mouse is over Fix tablet trouble when screen rotate Fix responsive logo
  app/assets/stylesheets/home/navbar.scss
  app/javascript/packs/navbar.js
  app/views/layouts/_navbar.html.erb
Due: eslint --fix, stylelint --fix

add about section
  app/views/home/_about.html.erb
  app/views/home/index.html.erb
Due: none

add asset images
  app/assets/images/icon-cap.png
  app/assets/images/icon-computer.png
  app/assets/images/icon-lamp.png
Due: none

add sass structure and styles
  app/javascript/stylesheets/application.scss
  app/javascript/stylesheets/base/typography.scss
  app/javascript/stylesheets/components/_banner_bc.scss
  app/javascript/stylesheets/components/_cards.scss
  app/javascript/stylesheets/components/_image_cards.scss
  app/javascript/stylesheets/pages/_index.scss
  app/javascript/stylesheets/utils/_variables.scss
Due: stylelint --fix

Update README.md
  README.md
Due: none

Implementing Rails Internationalization (I18n)
  Gemfile
  Gemfile.lock
  app/views/home/index.html.erb
  app/views/layouts/_navbar.html.erb
  config/application.rb
  config/locales/en.yml
  config/locales/es.yml
Due: rubocop -a -c .rubocop-linter.yml --fail-level E

Start slider Add images to work Implement slider from bootstrap
  app/assets/images/comunidad.png
  app/assets/images/costo.png
  app/assets/images/cultura.png
  app/assets/images/duracion.png
  app/assets/images/excelencia.png
  app/assets/images/next.png
  app/assets/images/previous.png
  app/assets/images/proceso.png
  app/assets/stylesheets/home/slider.scss
  app/views/layouts/_slider.html.erb
  app/views/layouts/application.html.erb
Due: stylelint --fix

Title eliminated
  app/views/home/index.html.erb
Due: none

Fixed hero
  app/assets/stylesheets/home.scss
  app/assets/stylesheets/variables.scss
Due: stylelint --fix

Our programs sections I made the programs section of the landing page including responsive desing
  .gitignore
  app/assets/images/Group 48.png
  app/assets/images/Shopify_logo.png
  app/assets/images/logo-rails.png
  app/assets/images/logo-react.png
  app/assets/stylesheets/home.scss
  app/assets/stylesheets/home/Our_Programs.scss
  app/views/home/index.html.erb
  bin/webpack
  bin/webpack-dev-server
  package.json
Due: stylelint --fix

This section was simplified and internationalization was applied
  .ruby-version
  app/views/home/index.html.erb
  config/database.yml.example
  config/locales/en.yml
  config/locales/es.yml
Due: none

added database example configuration
  config/database.yml.example
Due: none

Only added blank line.
  config/locales/en.yml
Due: none

Fix deployment
  app/assets/stylesheets/home.scss
  app/javascript/stylesheets/application.scss
Due: stylelint --fix

Fix navbar responsive behavior
  app/assets/stylesheets/home/navbar.scss
  app/javascript/packs/navbar.js
  app/views/layouts/_navbar.html.erb
Due: eslint --fix, stylelint --fix

modify about section with internalization
  app/views/home/_about.html.erb
  app/views/home/index.html.erb
Due: none

fix about section design
  app/javascript/stylesheets/application.scss
  app/javascript/stylesheets/components/_cards.scss
  app/javascript/stylesheets/components/_image_cards.scss
  app/views/home/_about.html.erb
Due: stylelint --fix

Replacement of the video call locally, by the video call externally.
  app/views/home/_testimonial.html.erb
  config/environments/development.rb
  config/environments/production.rb
Due: rubocop -a -c .rubocop-linter.yml --fail-level E
